In [2]:
#importando a biblioteca Pandas
import pandas as pd

## Series

In [19]:
# "Dados" em forma de Lista
data = [1,2,3,4,5,6,7,8,9,10]

In [20]:
#Criando um index
index = ["Linha " + str(i) for i in range(len(data))]
index

['Linha 0',
 'Linha 1',
 'Linha 2',
 'Linha 3',
 'Linha 4',
 'Linha 5',
 'Linha 6',
 'Linha 7',
 'Linha 8',
 'Linha 9']

In [21]:
# (BASICO) Cria uma "series" do pandas a partir da lista
s = pd.Series(data)
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [22]:
# (INTERMEDIARIO) Cria uma "series" do pandas a partir da lista e index
s = pd.Series(data = data, index = index)
s

Linha 0     1
Linha 1     2
Linha 2     3
Linha 3     4
Linha 4     5
Linha 5     6
Linha 6     7
Linha 7     8
Linha 8     9
Linha 9    10
dtype: int64

In [27]:
#Dados em forma de DICIONARIO
data = {"Linha " + str(i) : i+1 for i in range(5)}
data

{'Linha 0': 1, 'Linha 1': 2, 'Linha 2': 3, 'Linha 3': 4, 'Linha 4': 5}

In [28]:
#(AVANÇADO) cria uma Series a partir de um DICIONARIO
s = pd.Series(data)
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

##### Operações com "Series"

In [32]:
s1 = s + 2
s1

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
dtype: int64

In [33]:
s2 = s + s1
s2

Linha 0     4
Linha 1     6
Linha 2     8
Linha 3    10
Linha 4    12
dtype: int64

## DataFrame

In [40]:
#Cria uma Lista de Listas
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [45]:
#Criando um nome para as linhas
index = ["Linha " + str(i) for i in range(len(data))] 
index

['Linha 0', 'Linha 1', 'Linha 2']

In [46]:
#Criando um nome para as colunas
columns = ["Coluna " + str(i) for i in range(len(data))] 
columns

['Coluna 0', 'Coluna 1', 'Coluna 2']

In [38]:
# (BASICO) Cria um "DataFrame" do pandas a partir da lista de listas
df1 = pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [44]:
# (INTERMEDIÁRIO) Cria um "DataFrame" do pandas a partir da lista de listas configurando o nome das Linhas
df2 = pd.DataFrame(data = data, index = index)
df2

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

In [47]:
# (INTERMEDIÁRIO) Cria um "DataFrame" do pandas a partir da lista de listas configurando o nome das Linhas e Colunas
df3 = pd.DataFrame(data = data, index = index, columns = columns)
df3

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [58]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [59]:
# (AVANÇADO) Cria um "DataFrame" do pandas a partir de um DICIONARIO
df4 = pd.DataFrame(data)
df4

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [60]:
#Cria uma Lista de Tuplas
data = [(1,2,3),
        (4,5,6),
        (7,8,9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [61]:
# (INTERMEDIÁRIO) Cria um "DataFrame" do pandas a partir da lista de Tuplas configurando o nome das Linhas e Colunas
df5 = pd.DataFrame(data = data, index = index, columns = columns)
df5

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

### Concatenação de DataFrames

In [71]:
#Cria Dataframes de Exemplo
A = "A"
data1 = {'Coluna0': {'Linha0': A, 'Linha1': A, 'Linha2': A},
        'Coluna1': {'Linha0': A, 'Linha1': A, 'Linha2': A},
        'Coluna2': {'Linha0': A, 'Linha1': A, 'Linha2': A}}
df_a = pd.DataFrame(data1)
B = "B"
data2 = {'Coluna0': {'Linha0': B, 'Linha1': B, 'Linha2': B},
        'Coluna1': {'Linha0': B, 'Linha1': B, 'Linha2': B},
        'Coluna2': {'Linha0': B, 'Linha1': B, 'Linha2': B}}
df_b = pd.DataFrame(data2)
C = "C"
data3 = {'Coluna0': {'Linha0': C, 'Linha1': C, 'Linha2': C},
        'Coluna1': {'Linha0': C, 'Linha1': C, 'Linha2': C},
        'Coluna2': {'Linha0': C, 'Linha1': C, 'Linha2': C}}
df_c = pd.DataFrame(data3)

In [64]:
#Dataframe A
df_a

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [65]:
#Dataframe B
df_b

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [72]:
#Dataframe C
df_c

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [69]:
#Concatena DataFrames com a referência das Colunas
df_abc_col = pd.concat([df_a,df_b,df_c])
df_abc_col

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [70]:
#Concatena DataFrames com a referência das Linhas
df_abc_row = pd.concat([df_a,df_b,df_c], axis = 1)
df_abc_row

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C