# Analisando Moedas para usar em jogos da copa
## Garantindo que elas n√£o estejam viciadas

In [1]:
#Bruto de dados de cada moeda
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [3]:
#Importando pandas
import pandas as pd

In [14]:
eventos = {"m1": list(m1),
          "m2": list(m2),
          "m3": list(m3),
          "m4": list(m4),
          "m5": list(m5)}
eventos = pd.DataFrame(eventos)
eventos.head()

  m1 m2 m3 m4 m5
0  C  C  C  c  C
1  C  C  c  C  C
2  c  C  c  C  C
3  C  C  C  c  c
4  C  C  C  c  C

In [15]:
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, eventos[item].value_counts()], axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25