# Relatório de Análise IV

## Seleção e Frequências

In [14]:
#Importando bibliotecas
import pandas as pd

In [15]:
#Leitura da base de dados (csv) e criação do DataFrame 
dados = pd.read_csv('Dados/aluguel_residencial.csv', sep = ';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
1,Apartamento,Ipanema,4,2,2,210,28000.0,3020.0,9247.0
2,Apartamento,Vicente de Carvalho,1,0,0,55,600.0,NaN,16.0
3,Apartamento,Flamengo,3,0,0,115,2700.0,728.0,223.0
4,Apartamento,Bento Ribeiro,2,1,0,53,900.0,510.0,NaN

In [16]:
#Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados["Tipo"] == "Apartamento"
n1 = dados[selecao].shape[0]
print("o banco de dados possui",n1, "Apartamentos.")

o banco de dados possui 19532 Apartamentos.

In [46]:
dados.query('Tipo == "Apartamento"').shape[0]
dados[dados["Tipo"] == "Apartamento"].shape[0]

19532

In [42]:
#Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao = (dados["Tipo"] == 'Casa') | (dados["Tipo"] == 'Casa de Condomínio') | (dados["Tipo"] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
print("o banco de dados possui",n2, "Casas, Casas de Condomínio ou Casas de Vila.")

o banco de dados possui 2212 Casas, Casas de Condomínio ou Casas de Vila.

In [43]:
#Outras formas de realizar querys na base de dados
dados.query('Tipo == "Casa" | Tipo == "Casa de Condomínio" | Tipo == "Casa de Vila"').shape[0]
dados[(dados["Tipo"] == 'Casa') | (dados["Tipo"] == 'Casa de Condomínio') | (dados["Tipo"] == 'Casa de Vila')].shape[0]

2212

In [44]:
#Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
selecao = (dados["Area"] >= 60) & (dados["Area"] <= 100)
n3 = dados[selecao].shape[0]
print("o banco de dados possui",n3, "Residências com área entre 60 e 100 metros quadrados.")

o banco de dados possui 8719 Residências com área entre 60 e 100 metros quadrados.

In [45]:
#Outras formas de realizar querys na base de dados
dados.query('Area >= 60 & Area <= 100').shape[0]
dados[(dados["Area"] >= 60) & (dados["Area"] <= 100)].shape[0]

8719

In [19]:
#Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados["Quartos"] >= 4) & (dados["Valor"] < 2000)
n4 = dados[selecao].shape[0]
print("o banco de dados possui",n4, "Residências com área entre 60 e 100 metros quadrados.")

o banco de dados possui 41 Residências com área entre 60 e 100 metros quadrados.

In [40]:
#Outras formas de realizar querys na base de dados
dados.query('Quartos >= 4 & Valor < 2000').shape[0]
dados[(dados["Quartos"] >= 4) & (dados["Valor"] < 2000)].shape[0]

41

In [21]:
print("O banco de dados possui",n1, "Apartamentos.")
print("O banco de dados possui",n2, "Casas, Casas de Condomínio ou Casas de Vila.")
print("O banco de dados possui",n3, "Residências com área entre 60 e 100 metros quadrados.")
print("O banco de dados possui",n4, "Residências com área entre 60 e 100 metros quadrados.")

O banco de dados possui 19532 Apartamentos.
O banco de dados possui 2212 Casas, Casas de Condomínio ou Casas de Vila.
O banco de dados possui 8719 Residências com área entre 60 e 100 metros quadrados.
O banco de dados possui 41 Residências com área entre 60 e 100 metros quadrados.